
h1{
  color: red;
}
.coke {
  color: green ;
  font-family: monospace;
}

.profile {
  color: green;
}
.img-fa {
  border-radius : 50%;
  width:152px;
  max-height:152px;
}

 #middle {
 display:inline-block;
 margin:0 auto;
 min-width: 600px;
 margin-top:30px;
}
.navbar-default{
  width:100%;
  text-align:center;
  border-bottom:1px solid #e3e3e3;
  padding-bottom:30px;
}
#right{
  float:right;
  /* width:120px; */
  padding-left:15px;

}
#logo-name {
  float: left;
  width: 120px;
  padding-left: 15px;
}

#logo-icon {
  width: 30px;
  padding-right: 20px;
  padding-top: 3px;
  border-right: 1px solid black;
  float: left;
}