{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar navbar-default" style="background-color:white;">
    <div class="container ">
      <div class="navbar-header ">
        <a href='#'>
        <img src="{% static 'assets/if_instagram_2561453.svg' %}" alt="Instagram logo icon" id="logo-icon">
        </a>
        <a href='{% url 'welcome' %}'>
        <img src="{% static 'assets/name_instagram.svg' %}" alt="Instagram logo name" id="logo-name">
        </a>
      </div>
      <div>
        {% comment %}
        <div id="middle ">
          <input id="input-field " type="text " placeholder='Search' style="text-align: center padding-top:20px;">
        </div> {% endcomment %}

        <form class="navbar-form " id="middle " role="search " style="text-align:center; ">

          <div class="input-group ">

            <input type="text " class="text-center " placeholder="Search Article " name="article ">

          </div>

        </form>
      </div>
      <!-- <div class="uk-navbar-right ">
        <ul class="uk-navbar-nav margin-large-right ">
          <li><a href=" " uk-icon ="icon: heart "  uk-tooltip="Activity Stream "></a></li>
          <li><a href=" "  uk-icon="icon: location "  uk-tooltip="Explore "></a></li>
          <li><a href=" "  uk-icon="icon: upload "  uk-tooltip="Upload image "></a></li>



        </ul>
      </div> -->
      <!--The search form above-->
      {% comment %}
      <div>
        {% if user.is_authenticated %}
        <ul>
          <li class="dropdown ">
            <a href="# " class="dropdown-toggle btn btn-default " data-toggle="dropdown " role="button " aria-expanded="false ">Account
                            <span class="caret "></span>
                        </a>
            <ul class="dropdown-menu " role="menu ">
              <li>
                <a href="{%url 'welcome'%} ">Home</a>
              </li>
              <li>
                <a href="/accounts/password/change ">Change Password</a>
              </li>
              <li>
                <a href="/logout ">Logout</a>
              </li>
              <li>
                <a href="{%url 'new-image'%} ">New Image</a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login ">Login</a>
        </li>

        {% endif %}
      </div> {% endcomment %}
    </div>
  </nav>
</body>

</html>
